/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import 'assets/styles/custom.scss';
@import 'assets/styles/icon.glob.scss';

// Font, line-height, and color for body text, headings, and more.
@font-face {
    font-family: 'plentyicons';
    src: url('assets/fonts/plentyicons.eot?z8douy');
    src: url('assets/fonts/plentyicons.eot?z8douy#iefix')
            format('embedded-opentype'),
        url('assets/fonts/plentyicons.ttf?z8douy') format('truetype'),
        url('assets/fonts/plentyicons.woff?z8douy') format('woff'),
        url('assets/fonts/plentyicons.svg?z8douy#plentyicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'plentyicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif !important;
    background-color: #e9eaec;

    .container-fluid {
        height: 100%;
        position: fixed;
        overflow: hidden;
    }
}

/* width */
::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: darken(#e9eaec, 10%);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #494c56;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: lighten(#494c56, 5%);
}

.login-modal,
.notification-modal,
.actions-modal {
    z-index: 2000;
    .modal-dialog {
        max-width: 400px;
    }
}

.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    color: #757576;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal-backdrop .transparent {
    opacity: 0.5;
}

.draggedElement {
    background-color: #636671;
    opacity: 0.4;
}
