.alert {
    a {
        color: #24b3e0;
        text-decoration: none;
    }
}

.text {
    display: block;
    font-style: italic;
    font-size: 12px;
    color: #636671;
    margin-top: -8px;
    letter-spacing: .5px;
}